# .htaccess - Tüm URL'leri Göster

# UTF-8 karakter setini kullan
AddDefaultCharset UTF-8

# www'yi non-www'ye yönlendir
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.yenidunyaendustriyel\.com [NC]
RewriteRule ^(.*)$ https://yenidunyaendustriyel.com/$1 [L,R=301]

# HTTP üzerinden HTTPS'e yönlendirme
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
